<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="custom_custom_block_toolbar" type="Tech9logy\Tathastu\Plugin\Catalog\Block\Toolbar"/>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="custom_catalog_model_config" type="Tech9logy\Tathastu\Plugin\Catalog\Model\Config"/>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Vendor_ModuleName::addCustomOptions" type="Tech9logy\Tathastu\Plugin\Model\Config"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="catalog_productlist_toolbar_plugin" type="Tech9logy\Tathastu\Plugin\Product\ProductList\Toolbar"/>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="add_custom_sort" type="Tech9logy\Tathastu\Plugin\Catalog\CustomSort" sortOrder="10"/>
    </type>
    <type name="Tech9logy\CouponCode\Block\FooterConfig">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Framework\View\Element\Template\Context</argument>
        </arguments>
    </type>
</config>

